.container{
    text-align: center;
    
    
}

@media (min-width:400px)
{
  .row{
   padding-left: 20rem;
  }
}
.row{
   text-align: center;
   display: contents;
   
   
     
}



.body {
   background-color: lightgreen;
   
 }
 
 @media only screen and (max-width: 400px) {
   body {
     background-color: lightblue;
    
   }

 }

.cur-con-weather-card{
   background-color:white;
}

.cur-con-weather-card .detail:last-child {
   border-bottom: none;
 
}
.cur-con-weather-card .detail {
   align-items: center;
   border-bottom: 1px solid rgba(0,0,0,.15);
   display: flex;
   flex-wrap: wrap;
   border-radius: 25px;
}
.spaced-content {
  color: aliceblue;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items:center;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   justify-content: space-between;
   border-radius: 25px;
}

.cur-con-weather-card__body{
   /*background-color: aliceblue;*/
   padding-left: 20rem;
   padding-right: 20rem;
   font-size: 20px;
   color: aliceblue;
   text-align:center;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   border-radius: 25px;
   
   
   

}
.forecast-container{
   
}

.forecast-container{

   height: 190px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   text-align:center;
   border-radius: 25px;
   
      
    
}


.span{
   content: "\2634";
 }

.spaced-content{
   color: aliceblue;
   text-align:center;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   
}


